{{- /* theme is auto */}}
<script>
    let localStorageValue = localStorage.getItem("pref-theme");
    let mediaQuery = window.matchMedia('(prefers-color-scheme: dark)').matches;

    switch (localStorageValue) {
        case "dark":
            document.body.classList.add('dark');
            break;
        case "light":
            document.body.classList.remove('dark');
            break;
        default:
            if (mediaQuery) {
                document.body.classList.add('dark');
            }
            break;
    }
</script>

<!-- Show header on scroll up -->
{{ if .Site.Params.navbar.stickyNavBar.enable | default false }}
{{ $showNavBarOnScrollUp := .Site.Params.navbar.stickyNavBar.showOnScrollUp | default false }}
<script>
    var prevScrollPos = window.pageYOffset;
    window.addEventListener("scroll", function showHeaderOnScroll() {
        let profileHeaderElem = document.getElementById("profileHeader");
        let currentScrollPos = window.pageYOffset;
        let resetHeaderStyle = false;
        let showNavBarOnScrollUp = {{ $showNavBarOnScrollUp }};
        let showNavBar = showNavBarOnScrollUp ? prevScrollPos > currentScrollPos : currentScrollPos > 0;
        let navLinks = document.querySelectorAll(".nav-item > .nav-link");
        console.log(navLinks);
        var buttonThemeToggle = document.querySelector('#theme-toggle');
        var svgs = buttonThemeToggle.querySelectorAll('svg');
        if (showNavBar) {
            profileHeaderElem.classList.add("showHeaderOnTop");
            profileHeaderElem.classList.remove("hideHeaderOnTop");
            profileHeaderElem.classList.remove("bg-transparent");
            navLinks.forEach(function(navLink) {
                navLink.classList.remove("text-white");
            });
            svgs.forEach(function(svg) {
                svg.setAttribute('stroke', 'currentColor');
            });
        } else {
            resetHeaderStyle = true;
        }
        if(currentScrollPos === 0) {
            resetHeaderStyle = true;
            profileHeaderElem.classList.add("hideHeaderOnTop");
            profileHeaderElem.classList.add("bg-transparent");
            navLinks.forEach(function(navLink) {
                navLink.classList.add("text-white");
            });
            svgs.forEach(function(svg) {
                svg.setAttribute('stroke', 'white');
            });
        }
        if(resetHeaderStyle) {
            profileHeaderElem.classList.remove("showHeaderOnTop");
        }
        prevScrollPos = currentScrollPos;        
    });
</script>
{{ end }}

<!-- Navbar -->
<header id="profileHeader" class="hideHeaderOnTop bg-transparent">
    {{ partial "sections/navbar.html" .}}
</header>
