<div class="m-0">
    <div class="collapse my-3" id="collapseReadMoreAbout">
        <div class="card card-body bg-transparent">
            {{/*  TODO  */}}
            This is the additional content that is revealed when the "Read More" button
            is clicked. It can contain more detailed information, images, or any other
            HTML elements.
        </div>
    </div>
    <button
    class="btn btn-link p-0 m-0"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#collapseReadMoreAbout"
    aria-expanded="false"
    aria-controls="collapseReadMoreAbout"
    >
    Read More
</button>

</div>