<div class="m-0">
    <div class="collapse mt-3" id="collapseReadMoreAbout">
        <div class="bg-transparent">
            {{ $languageData := index .Site.Data.about .Site.Language.Lang }}
            {{ $languageData.contentReadMore | markdownify }}
        </div>
    </div>
    <button
    class="btn btn-link p-0 m-0"
    id="readMoreBtn"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#collapseReadMoreAbout"
    aria-expanded="false"
    aria-controls="collapseReadMoreAbout"
    >
    Read More
</button>
</div>