<section class="services">
    {{ if .Site.Data.about.services.enable }}
    <div class="container my-2">
        <div class="row">
                {{ $languageData := index .Site.Data.about .Site.Language.Lang }}
                {{ range $languageData.services.items}}
                    <div class="col-lg-4 mx-auto mb-4">
                        <div class="d-flex mb-3 icon">
                            <span class="{{ .icon }} m-auto text-primary"></span>
                        </div>
                        <h5 class="text-center">{{ .title }}</h5>
                        <p class="text-muted mb-0">
                            {{ .description }}
                        </p>
                    </div>
                {{ end }}
            </div>
        </div>
    {{ end }}
</section>